@import "~style/_root";

.app-layout-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  &__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }
}
