@import "~style/_root";

.app-home-container {
  background: url(../../assets/img/Rectangle-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__context {
    text-align: center;
    &__btn {
      padding: 20px 59px;
      border: none;
    }
    &__text {
      font-size: 64px;
      color: #780202;
      margin-bottom: 30px;
    }
  }
  @include media(until-desktop) {
    background-size: contain;
  }
  @include media(until-tablet) {
    background-size: 1024px;
    height: 800px;
  }
}
