.app-footer-container {
  display: flex;
  // margin-top: 300px;
  justify-content: space-evenly;
  background-color: #eeeeee;
  align-items: center;
  height: 250px;
  & p {
    font-size: 18px;
    padding-bottom: 15px;
  }
}
