@import "~style/root";

.decor-btn {
  border: none;
  width: 250px;
  font-size: 36px;
  margin: 30px 0px 10px 0;
  background-color: transparent;
}
@include media(until-tablet) {
  .img {
    width: 500px;
  }
}
